@tailwind base;
@tailwind components;
@tailwind utilities;

.shiny {
  background: linear-gradient(120deg, #ffd700, #ffffff, #ffd700, #ffffff);
  background-size: 200% auto;
  color: #000;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.popover-container {
  position: relative;
}

.popover-container .popover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.popover-container:hover .popover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
